 <link rel="stylesheet" href="~/js/site.js">
@{
    ViewData["Title"] = "Home Page";
}

@model List<Destination>

<h1 class="data">@Context.Session.GetString("name"), Checkout Out Our Destinations</h1>

@foreach (var destination in Model)
{
     
         <main class="col">
            <div class="card">
                <img img src="@destination.Image" alt="@destination.Location">
                    <h5 class="info">@destination.Location <span>$@destination.Budget</span></h5>
                    <p>Last updated 3 mins ago</p>
                    <p type="text" id="num" onmouseover="genNumber()">25</p> 
                    <h5 class="random">people have booked this destination!</h5>                
                <form action="/adddestination" method="post" >
                    <input type="hidden" name="Location" value="@destination.Location" />
                    <input type="hidden" name="Image" value="@destination.Image" />
                    <input type="hidden" name="Budget" value="@destination.Budget" />
                    <input type="hidden" name="Comment" value="@destination.Comment" />
                    <input type="hidden" name="Days" value="@destination.Days" />
                    <button type="submit" onclick="updateText()" id="button" class="btn btn-outline-dark">Add To List</button>
                </form> 
                <p id="update"></p>
                  <br>
                </div>
        </main>
}
<script type="text/javascript">
    genNumber()
</script>







