@{
    ViewData["Title"] = "Home Page";
}

@model Destination

<main class="col">
  <div class="card detail">
    <h3 class="view">@Model.Location</h3>
    <img src="@Model.Image" alt="@Model.Location">
      <p class="para">
          $@Model.Budget <br>
          @Model.Comment <br>
          @Model.Days 
      </p>
        <form action="/destinations/@Model.DestinationId/delete" method="post">
          <button type="submit" onclick="deleteMessage()" class="btn btn-danger">Delete</button>
          <button class="btn btn-secondary"><a href="/destinations">Go Back</a></button>
        </form>
  </div>
</main>